* {
  box-sizing: border-box;
}

/* html {
  background-color: black;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: all .5s;
  color: #111;
  overflow-x: hidden;
  /* overflow: hidden; */
}

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

a {
  color: #111;
  text-decoration: none;
}

b {
  font-weight: 700 !important;
}

main {
  /*width: 90%;
  margin: 0 auto;
  max-width: 1150px;*/
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  letter-spacing: .01em;
}

.preload {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  top: 0;
  left: 0;
  z-index: 100000;
}

.preload div, #recharge h3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preload span {
  /* transform: translateY(-15px); */
  display: inline-block;
}

.d, .a , .n, .i, .e, .l {
  animation: loader 1.5s linear;
  animation-iteration-count: infinite;
}

#A, .u, .t, .r, .y {
  animation: loader 1.5s linear;
  animation-iteration-count: infinite;
  animation-delay: .75s;
}

@keyframes loader {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}

.try-animate, .try-animate2 {
  position: absolute;
  width: 0;
  height: 100%;
  background: #111111;
  left: 0;
  top: 0;
  z-index: 10;
}

.try-animate {
  animation: move-bg 2s cubic-bezier(0.19, 1, 0.22, 1);
  animation-play-state: paused;
  /* animation-iteration-count: ; */
}

.try-animate2 {
  background: #333;
  z-index: 100;
  
  /* animation-iteration-count: infinite; */
  animation-delay: .75s;
}

@keyframes move-bg {
  0% {
    left: 0;
    width: 0;
  }
  25% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

/* .scroll-downs {
  
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 1px solid #111;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #111;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
} */

/**
  ----- MENU -----
**/

.Pane {
  /* background: #fff !important; */
  /* border: 1px solid #cd4037; */
}

.Menu {
  text-align: right;
  /* border-bottom: 1px solid #e5e5e5; */
  position: relative;
  /* background: #fff; */
  z-index: 1000;
  width: 100%;
  top: 0;
  /* padding-top: 20px; */
  position: fixed;
  /* height: 75px; */
}

#Menu--home {
  /* opacity: 0; */
}

.Menu-item {
  display: inline-block;
  font-size: 18px;
  padding: 30px 0;
  transition: .25s;
  /* color: #333; */
}

.Menu-item a {
  /* color: #333; */
}

#menu-resume {
  padding-right: 50px;
}

#menu-resume, #menu-contact {
  transition: all .25s;
} 

#menu-resume:hover, #menu-contact:hover {
  opacity: 0.5;
}

.Menu-item--mobile {
  display: inline-block;
  width: 30px;
  padding: 20px 0;
}

.Container--menu {
  width: 95%;
  margin: 0 auto;
  max-width: 1300px;
}

/* .Menu--js {
  position: fixed;
  padding: 0;
  width: 100%;
  float: right;
  right: 0;
  border-bottom: 1px solid #ddd;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
} */

.Menu--js .Menu-item {
  font-size: 14px;
  color: #222;
  font-family: 'Playfair Display';
  /* opacity: .5; */
}

.Menu--js .Menu-item:nth-child(5) {
  padding-right: 0;
}

.Menu-item:hover {
  color: black;
  /* opacity: .5; */
}

.daniel--alt{
}

#logo, #logo--js {
  position: fixed;
  /* font-size: 32px; */
  float: left;
  padding: 30px 0 30px 0;
  opacity: 1;
  z-index: 4;
  transition: .5s;
}

#logo--js {
  font-size: 16px;
}

#menu-ham {
  width: 33px;
  height: 33px;
}

.menu {
  /* width: 33px; */
  /* height: 33px; */
  /* padding: 10px; */
  display: block;
  cursor: pointer;
  position: fixed;
  float: right;
  z-index: 2;
}

.menu span {
  cursor: pointer;
  height: 3px;
  width: 33px;
  margin-bottom: 8px;
  background: #111;
  position: relative;
  right: 0;
  display: block;
  transform: rotate(0deg);
  transition: .7s ease;
  border-radius: 28px;
}

.menu span:last-child {
  margin-bottom: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  pointer-events: none;
  cursor: default;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.menu.open span:nth-child(1) {
  top: 12px;
  transform: rotate(135deg);
  transition: .7s ease;
  background: #fff;
}

.menu.open span:nth-child(2) {
  top: 12px;
  transform: rotate(135deg);
  transition: .2s ease;
  background: #fff;
  opacity: 0;
}

.menu.open span:nth-child(3) {
  top: -10px;
  transform: rotate(-135deg);
  transition: .7s ease;
  background: #fff;
  z-index: 1;
}

#navigation {
  background: #222;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  /* max-width: 0; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: left;
  /* max-width: 0; */
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.nav-social {
  align-self: flex-end;
  margin-bottom: -50px;
}

.nav-social h2 {
  width: fit-content;
  padding-bottom: 3px;
  color: #6fcf97;
  border-bottom: 1px solid #6fcf97;
}

.nav-social img {
  opacity: 0.5;
  transition: .3s;
}

.nav-social img:hover {
  opacity: 1;
}

.fadeIn {
  animation-duration: .5s;
}

.fadeIn {
  animation-duration: .5s;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 15%;
}
ul li a {
  color: #fff;
  text-decoration: none;
}


#radical, #recharge, #cullop, #hc, #babylon, #fei, #storyware, .Container--main, #Container--1, #Container--2, #Container--3, #Container--4, #Container--5, #Container--6, #Container--7, #Container--8, #Container--main_text, #Container-article--1, #Container-article--2, #Container-article--3, #Container-article--4, #Elliewood-text--1, #Elliewood-image--1, #Elliewood-container--1, #Elliewood-container--2, #Elliewood-container--3,.Elliewood-text--2, #Elliewood-image--2, .Elliewood-text--3, .Elliewood-text--4, .Elliewood-text--5, #Elliewood-block--1, #Elliewood-block--2, #Elliewood-block--3, #Elliewood-block--4, #Elliewood-block--5, #Elliewood-block--6, #Elliewood-block--7, #Elliewood-block--8, #Elliewood-block--9, #Elliewood-block--10, #Elliewood-container--4, #Elliewood-container--5, #Elliewood-container--6, #Elliewood-container--7, #Elliewood-container--8, #Elliewood-container--9, #Elliewood-quote--1, #Elliewood-quote--2, #Elliewood-quote--3, #Elliewood-container--10, #Elliewood-text--overview, #Container--interviews {
  opacity: 0;
  transition: opacity .65s;
}

#Elliewood-image--1, #Elliewood-image--2, .Elliewood-text--3, #Elliewood-block--1, .Elliewood-text--5, #Elliewood-block--6, #Container--main_text {
  animation-delay: .2s;
}

#Elliewood-block--2, #Elliewood-block--8 {
  animation-delay: .35s;
}

#Elliewood-block--3, #Elliewood-block--9 {
  animation-delay: .5s;
}

#Elliewood-block--4, #Elliewood-block--10 {
  animation-delay: .75s;
}

#Elliewood-block--5, .Container-line {
  animation-delay: .9s;
}

#Elliewood-block--7  {
  animation-delay: 1s;
}

#CaseStudy--Elliewood {
  /* background: url("../images/elliewood/jumpbox-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    height: 700px; */
}

/**
  ---- BUTTONS -----
  **/

.Button {
  font-size: 18px;
  text-align: center;
  /* -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.2); */
  border-bottom: 2px solid #222;
  /* color: #333; */
  /* border-radius: 4px; */
  position: relative;
  transition: all .3s;
  /* opacity: 0.7; */
  /* text-align: left; */
}

.Button-lg {
  width: auto;
  padding: 20px 0;
  /* background: #222; */
  /* color: #fff; */
  /* border: none; */
}

.Button-md, .Button-md--noHover {
  width: auto;
  padding: 20px 0;
  transition: all .25s;
  width: fit-content;
}

.Button-sm {
  width: fit-content;
  font-size: 14px;
  padding: 15px 0;
  transition: all .25s;
}

.Button-next {
  float: right;
}

/* .Button-md:hover, .Button-sm:hover {
  background: #000;
  color: white;
  cursor: pointer;
} */

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  /* color: #fff; */
  /* font-weight: 900; */
  /* border: 2px solid #000; */
  opacity: 1;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(.2);
  transform: scaleY(.2);
}

/**
  ----- CONTAINERS -----
  **/

.Container {
  position: relative;
}

.Container-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}

.Container-wrapper--alt {
  width: 95%;
  max-width: 1300px;
}

.Container-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.Container-flex--flexStart {
  justify-content: flex-start !important;
}

#Home--container .Container-text h5, #CaseStudy--Elliewood .Container-text h5, #CaseStudy--mindbrush .Container-text h5, #CaseStudy--goldman .Container-text h5 {
  width: fit-content;
  padding: 5px 7px;
  margin-right: 10px;
}


/**
  ----- HOME -----
**/

.Container--main {
   height: 800px;
   background: url("../images/home/daniel-3.jpg") no-repeat right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
}

/**
   ----- PROJECTS -----
**/

.Container-title {
  top: 30px;
  left: 50px;
  transform: rotate(-90deg);
}

.Container-title::after {
  content: '';
  /* transform: rotate(-90deg); */
  width: 100px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 30px;
  left: 0;
}

.Container--project {
  transition: all .5s;
  /* background: #fff; */
}

.Container-flex {
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: space-between;
}

.Container-text {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 5;
}

.Container-pic {
  /* opacity: 0; */
  transition: opacity 1s;
  animation-delay: .1s;
  animation-duration: 1.5s;
  position: relative;
}

.Container-pic--xlg {
  width: 65%;
}

.Container-pic--lg {
  width: 55%;
}

.Container-pic--left {
  margin-left: auto;
  margin-right: 10%;
}

.Container-pic img {
  width: 100%;
  height: auto;
  /* box-shadow: 0 4px 30px 0px rgba(25,25,25,.2); */
  /* opacity: 0; */
  animation-delay: .25s !important;
  transition: all .65s;

}

#Home--container .Container-pic img:hover {
  transform: scale(1.05);
}

.Container-stat img {
  width: 100%;
  height: 100%;
}

.Container-pic--md {
  width: 50%;
  box-shadow: 0 4px 20px 0px rgba(25,25,25,.18);
  margin-left: 5%;
}

.Container-pic--md img {
  width: 100%;
  margin: 0 auto;
}

.Container-pic--caseLeft {
  width: 45%;
  /* box-shadow: 0 4px 20px 0px rgba(25,25,25,.18); */
  margin-right: 15%;
}

.Container-pic--caseRight {
  width: 45%;
  /* box-shadow: 0 4px 20px 0px rgba(25,25,25,.18); */
  margin-left: 15%;
}

.Container--project .Button {
  font-size: 15px;
  position: absolute;
  bottom: 0;
}

.Pane {
  position: absolute;
  z-index: -1;  
  /* opacity: 0; */
}

.Pane--lg {
  width: 100%;
  height: 100%;
  right: -7%;
  top: calc(-.07 * 605px);
}

.Pane--lg_caseStudy {
  width: 100%;
  height: 100%;
  right: -7%;
  top: calc(-.07 * 605px);
}

.Pane--lg_alt {
  width: 95%;
  height: 80%;
  right: 0%;
  top: 10%;
}

.Pane--left {
  right: auto;
  left: calc(-.07 * 605px);;
}

.Container-block-sm {
  vertical-align: top;
  padding-top: 50px;
}

.Container-block-sm img {
  display: block;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  box-shadow: 0 4px 30px 0px rgba(25,25,25,.25);
}

.Container--social {
  justify-content: flex-start !important;
}

.Container--social img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

#Container--logos {
animation-delay: .5s;
} 

#Container--logos_2 {
animation-delay: 1s;
}

footer {
  /* background: #222; */
  /* color:#555; */
}



/******************************************

------ CASE STUDY ------

********************************************/

.Container--projectInfo {
  bottom: 0;
}

.Container--caseStudy {

}

.Container-infoBlock {
  /* width: 350px; */
  height: 200px;
  /* margin: 0 auto; */
  /* box-shadow: 0 4px 25px 0px rgba(25,25,25,.25); */
  border-radius: 5px;
  z-index: 1;
}

#Container-infoBlock--1 p, #Container-infoBlock--2 .Container-flex p, #Elliewood-container--9 p, #Elliewood-container--11 p, #Goldman-container--3 p, #Goldman-container--4 p, #Mindbrush-container--3 p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Container-infoBlock-title {
  top: 125% !important;
  transform: none;
}

.Container-infoBlock--small {
  width: 125px;
  height: 125px;
  box-shadow: 0 4px 25px 0px rgba(25,25,25,.25);
}

.Container-infoBlock--lg {
  width: 250px;
  height: 250px;
}

.Container-line {
  height: 1px;
  left: 0;
  top: 50%;
}

.Container-line--arrow {
  height: 1px;
  left: 0;
  bottom: 20%;
}

.Container-line--left {
  width: 2px;
  height: 30%;
  left: 10%;
}

.Container-line--bottom {
  width: 80%;
  height: 2px;
  left: 10%;
}


.Container-line--right {
  width: 2px;
  height: 30%;
  right: 10%;
  left: auto;
}

.Container-line--middle {
  width: 2px;
  height: 20%;
  left: 50%;
  bottom: 0;
}

.Container-pics img {
  height: 100%;
}

.Container-infoDesc {
  bottom: -25%;
  text-align: center;
  width: 100%;
}

.Container-infoBlock-pic {
  /* opacity: 0; */
  width: 55px;
}

.Container-icon {
  width: 55px;
  height: 55px;
}

.Container-article  {
  height: 275px;
}

.Container--secondary_caseStudy .Container-wrapper {
  /* width: 85%; */
}

.Container-grid-image {
  /* padding: 20px; */
  height: 100%;
}

#font-mobile {
  display: none;
}


#radical, .radical {
  background: url("../images/home/radical-1.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    /* height: 350px !important; */
    padding-bottom: 71.01%;
}

#babylon, .babylon {
  background: url("../images/home/babylon-1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 97.58%;
}

#dan, .dan {
  background: url("../images/home/Mindfulness.gif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 105.21%;
}

#cullop, .cullop {
  background: url("../images/home/dailyui-5.png") no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 750px;
  padding-bottom: 70.7%;
}

#uni {
  background: url("../images/home/mindful.png") no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}

#recharge {
  background: url("../images/home/recharge.png") no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

@media screen and (max-width: 1350px) {
  .Container--main {
    height: 750px;
  }
}

@media screen and (max-width: 1250px) {
  #CaseStudy--Elliewood .Container-text {
    width: 45%;
  }
  #CaseStudy--Elliewood .Container-pic--lg {
    width: 50%;
  }
}

@media screen and (max-width: 1175px) {
  .Container--main h1 {
    font-size: 70px;
  }

  .Container--main .u-p-MW1 {
    max-width: 500px;
  }

  .Container--main .Button {
    margin-top: 40px;
  }

  .Container--description h3 {
    font-size: 32px;
  }

  .Container--description p {
    font-size: 20px;
  }

  .Pane--caseStudy {
    display: none;
  }

  .Container--caseStudy .Container-pic {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1060px) {
  .Container--main h1 {
    font-size: 55px;
  }

  .Container--main p {
    font-size: 20px;
  }

  .Menu-item {
    font-size: 16px;
  }

  .Container--main {
    height: 650px;
  }

  .Container--main .Container-inner {
    width: 50%;
  }

  .Container--main p {
    font-size: 20px;
  }

  .Container--project .Container-text h3 {
    font-size: 28px;
  }

  .Container--project .Container-text h5 {
    font-size: 12px;
  }

  .Container--project .Container-text p {
    font-size: 18px;
  }

  .Container--project .Button {
    font-size: 14px;
  }

  #CaseStudy--Elliewood p {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .Container-infoBlock p {
    font-size: 18px;
  }
  .Container--stat h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 950px) {
  .Menu-item {
    /* font-size: 14px; */
  }

  .Container--main {
    /* height: 600px; */
  }

  .Container--main h1 {
    font-size: 50px;
  }

  .Container--main p {
    font-size: 18px;
  }

  .Button-lg {
    font-size: 14px;
  }

  .Container--project .Container-text h3 {
    margin-top: 10px;
    font-size: 26px;
  }

  .Container--mb h3 {
    margin-top: 75px !important;
  }

  .Container--project .Container-text p {
    margin-top: 10px;
    font-size: 16px;
  }

  .Pane {
    display: none;
  }

  /* .Container--about h2 {
    font-size: 36px;
  }

  .Container--about p {
    font-size: 22px;
  } */

  /* CASE STUDY */

  /* .Container--caseStudy, .Container--description {
    width: 95%;
  } */
}

@media screen and (max-width: 900px) {
  .Container--main {
    height: 550px;
  }

  .Container--main h1 {
    padding-top: 50px;
  }

  .Container--secondary_caseStudy h3 {
    font-size: 32px;
  }

  .Container--secondary_caseStudy p {
    font-size: 20px;
  }
}

@media screen and (max-width: 850px) {
  .Container--main {
    /* height: 500px; */
  }

  #font-desktop {
    display: none;
  }

  #font-mobile {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    text-align: center;
  }

  #Container--mb_branding .Container-flex:nth-of-type(1), #Container--mb_branding .Container-flex:nth-of-type(2) {
    justify-content: center !important;
  }

  #Container--mb_branding .Container-flex:last-of-type {
    width: 100%;
  }

  #Container--mb_branding .u-paddingT125 {
    padding-top: 60px;
  }
}

@media screen and (max-width: 769px) {

  /* TOP */

  .Container--menu {
    width: 90%;
  }

  .Menu-item, #logo {
    padding: 15px 0;
  }

  #logo {
    font-size: 26px;
  }

  .Container--main {
    /* padding-top: 0; */
    padding: 100px 0;
    height: 100%;
    background: none;
    background-color: #f2f2f2 !important;
  }

  #Menu--home {
    background-color: #fff !important;
    height: 60px;
  }

  .Container-overlay {
    position: static;
  }

  .Container--main h1 {
    padding-top: 20px;
    font-size: 70px;
    margin: 0;
  }

  .Container--main p {
    font-size: 22px;
  }

  .Container--main .u-p-MW1 {
    max-width: 550px;
  }


  .Container--main .Container-overlay {
    background-color: transparent;
  }

  .Container--main .Container-inner {
    width: 100%;
  }

  /* PROJECTS */

  .Container--project .Container-flex, .Container--stat .Container-flex, .Container--description .Container-flex, .Container--how_works .Container-flex {
    flex-direction: column-reverse;
  }

  .Container--project .Container-flex--alt, .Container--stat .Container-flex--alt, .Container--secondary_caseStudy .Container-flex, .Container--how_works .Container-flex--alt {
    flex-direction: column;
  }

  .Container--stat .Container-pic--caseLeft, .Container--stat .Container-pic--caseRight {
    margin: 0 auto;
  }

  #Elliewood-image--1,  #Elliewood-image--2, #Mindbrush-image--1, #Mindbrush-image--2, .Container--description .u-width30, .Container--secondary_college .u-width40, #Goldman-image--1, #Goldman-image--2, #Goldman-container--data .u-width35 {
    display: none;
  }

  .Container-text, .Container-pic--lg, .Container-quote {
    width: 100% !important;
  }

  .Container-quote .u-floatR {
    float: none;
  }

  .Container--secondary_infoBlocks p {
    width: 90% !important;
  }

  .Container--project h5 {
    margin-top: 40px;
  }

  .Container--project h3 {
    margin-top: 20px;
  }

  .Container--project p {
    margin-top: 10px;
    width: 100%;
  }

  .Container--project .Button {
    position: static;
    margin-top: 30px;
  }

  .Container--stat .Container-text .Container-flex {
    margin-bottom: 40px;
  }

  .Container--stat .Container-text:last-of-type .Container-flex {
    margin-bottom: 0;
  }

  /* MISC */

  .Container--about h2, .Container--writing h2, .Container--contact h2 {
    font-size: 26px;
  }

  .Container--about p, .Container--writing p, .Container--contact p {
    font-size: 20px;
  }


  .Container--writing .Container-flex {
    flex-direction: column;
  }

  .Container--writing .Container-block-sm {
    width: 100%;
  } 

  footer .u-width70 {
    width: 100%;
  }

  /**** 
  
  CASE STUDY 
  
  *****/

  .Container-wrapper--alt {
    width: 90%;
  }

  .Container--caseStudy, .Container--description {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .Container--top {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
  }

  .Container--caseStudy .Container-pic {
    margin: 0;
  }

  .Container--caseStudy .Container-text h3 {
    font-size: 32px;
  }

  .Container--secondary_caseStudy .Container-text {
    width: 100%;
  }

  .Container--secondary_infoBlocks .Container-flex {
    flex-direction: column;
  }

  .Container--secondary_infoBlocks .Container-infoBlock {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #Elliewood-container--4 .Container-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #Elliewood-container--4 .Container-infoBlock {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #Container--interviews .Container-infoBlock {
    height: auto;
    width: 50% !important;
  }

  #Container--interviews .Container-infoBlock p {
    width: 100% !important;
  }

  .Container--secondary_infoBlocks .Container-infoBlock:last-child,
  #Elliewood-container--4 .Container-infoBlock:nth-child(3),
  #Elliewood-container--4 .Container-infoBlock:nth-child(4) {
    margin-bottom: 0;
  }

  .Container-line {
    display: none;
  }

  .Container--secondary_caseStudy .Container-wrapper {
    width: 90%;
  }

  .Container--secondary_infoBlocks-sm .Container-flex .Container-infoBlock {
    padding: 100px;
  }

  .Container-pic--caseLeft, .Container-pic--caseRight {
    width: 70%;
  }

  .Container-infoBlock p {
    font-size: 18px !important;
  }

  .Container--how_works h3 {
    font-size: 26px;
  }

  .Container-flex--image {
    flex-direction: row !important;
    margin: 0 auto;
    width: 75%;
  }

  .Container-flex--image img {
    width: 40%;
  }

  #Container--resesarch h3, #Container--resesarch p, #Mindbrush-container p {
    width: 100%;
  }

  .Container--info {
    width: 90%;
    margin: 0 auto;
  }

  .Container--mb h3 {
    margin-top: 10px !important;
  }

  #Goldman-container--outcome .u-width90, #Goldman-container--data .u-width60 {
    width: 100%;
  }

  #Container--goldman-search .u-width90 {
    width: 100% !important;
  }

  #Container--goldman-search .Container-flex {
    flex-direction: column;
  }

  #Container--goldman-search h4 {
    font-size: 26px;
  }

}

@media screen and (max-width: 760px) {
  #resume, #contact{
    display: none;
  }

  #about, #portfolio {
    padding: 20px 15px;
  }

  #portfolio {
    padding-right: 0;
  }
}

@media screen and (max-width: 470px) {
  .Container--main h1 {
    font-size: 52px;
  }

  .Container-pic--caseLeft, .Container-pic--caseRight {
    width: 80%;
  }

  .Container--articles .Container-flex {
    flex-direction: column;
  }

  .Container--articles .Container-flex:nth-child(2) {
    padding-top: 0;
  }

  .Container--articles .Container-article h3 {
    width: 100%;
  }

  .Container--articles .Container-article {
    width: 100%;
  }

  .Container--articles .Container-article:nth-child(2) {
    margin-top: 25px;
  }

  .Container--secondary_caseStudy h3, .Container--description h3, #Container--mb_branding h3  {
    font-size: 26px;
  }

  #Elliewood-container--4 .Container-flex {
    flex-direction: column;
  }

  #Elliewood-container--4 .Container-flex:last-of-type {
    margin-top: 0;
  }


  #Elliewood-container--4 .Container-flex .Container-infoBlock, #Container--hygiene .Container-infoBlock, #Container--goldman-research .Container-infoBlock {
    width: 80%;
    margin-bottom: 50px;
  }

  #Elliewood-container--4 .u-fontSize-p2 {
    width: 100% !important;
  }

  .Container-infoBlock--color {
    width: 75px;
    height: 75px;
  }

  #Container--mb_branding .Container-infoBlock:nth-child(2) {
    margin-left: 50px;
  }

  #font-mobile {
    display: none;
  }
}



